/IPC1-PRACTICA1-201801449/CODIGO/BattleShip/nbproject/private/
/IPC1-PRACTICA1-201801449/CODIGO/BattleShip/build/
/TAREA/TAREA1/IPC1-Tarea1/nbproject/private/
/TAREA/TAREA1/IPC1-Tarea1/build/
/PRACTICA/PRACTICA1/CODIGO/BattleShip/dist/